#signUp {
  border: 1px solid red;
  background-color: antiquewhite;
  width: 450px;
  margin: 30px auto;
  padding: 20px;
}

#signUp > fieldset {
  border: 1px solid blue;
  margin-bottom: 30px;
}

#signUp legend {
  font-weight: bold;
}

#signUp li {
  list-style: none;
  margin-bottom: 5px;
}

#signUp label {
  /* 정렬 */
  float: left;
  width: 150px;
  font-size: 15px;
}

/* type을 가진 input 이런식으로 사용 가능함

#signUp input[type] {
}


[ ] -> 속성 선택자
  
*/

#signUp input[type="text"],
input[type="password"],
input[type^="t"],
input[type$="t"] {
  border-radius: 10px;
  padding: 5px;
}

#signUp select[name="level"] {
  width: 180px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
}

#signUp fieldset:last-child {
  border: none;
}

#signUp > fieldset > button {
  border-radius: 20px;
  font-size: 20px;
  display: block;
  margin: auto;
  cursor: pointer;
}

#signUp button:hover {
  background-color: red;
  color: white;
}
